body {
    font-family: Arial, sans-serif;
    background-color: #dbc189;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #f3ab40;
    color: rgb(240, 236, 236);
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.f, .f1 {
    display: inline-block;
    background: rgb(237, 233, 233);
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow:  4px 8px rgba(123, 38, 38, 0.2);
    width: 250px;
    text-align: center;
}

.f img, .f1 img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

span {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.button, .button1 {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.button span, .button1 span {
    background: #ae7826;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.button span:hover, .button1 span:hover {
    background: #eea73c;
}
